<div class="c-article__author">
  <div class="c-article__authorImage c-article__authorImage--large">
    <img src="{{ fields.image.fields.file.url }}?w=200">
  </div>
  <div>
    <span class="c-article__authorName">{{ fields.name }}</span>
    <p>{{ fields.shortBio }}</p>
    <div class="u-noMarginBottom" data-markup>
      {{#if fields.facebook}}
        <a href="https://www.facebook.com/{{ fields.facebook }}">Facebook</a>
      {{/if}}
      {{#if fields.twitter}}
        <a href="https://twitter.com/{{ fields.twitter }}">Twitter</a>
      {{/if}}
      {{#if fields.github}}
        <a href="https://github.com/{{ fields.github }}">Github</a>
      {{/if}}
    </div>
  </div>
</div>
