<header class="c-header">
  <img class="c-header__logo" src="/assets/logo.png"/>
  <nav class="c-nav">
    <ul class="c-nav__list">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/authors.html">Authors</a></li>
      <li><a href="/images.html">Images</a></li>
      <li><a href="/entries.html">Entries</a></li>
      <li><a href="/filtered.html">Filtered Entries</a></li>
    </ul>
  </nav>

  <div class="c-featured">
    New: {{ common.featured_author.items.0.fields.name }}
  </div>
</header>
