.c-article {
  &__author {
    display: flex;

    align-items: center;
    justify-content: flex-start;
  }

  &__authorSumUp {
    margin: 2em 0;
    padding: 2em 0;
    border-top: 1px solid $lightGray;
  }

  &__authors {
    list-style: none;

    margin: 0;
    padding: 0;
  }

  &__authorImage {
    position: relative;

    width: 3em;
    height: 3em;

    overflow: hidden;
    border-radius: 50%;

    margin-right: 1em;

    flex-shrink: 0;

    > img {
      position: absolute;

      top: 50%;
      left: 50%;

      object-fit: cover;

      transform: translate(-50%, -50%);
    }

    &--large {
      font-size: 2em;
    }
  }

  &__authorName {
    font-size: 1.25em;
  }

  &__date {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    margin-bottom: 1em;

    svg {
      fill: currentColor;
      margin-right: .25em;
    }
  }

  &__header {
    margin-bottom: 3em;
  }

  &__headline {
    margin: .5em 0;

    > a {
      text-decoration: none;
    }
  }

  &__tags {
    margin: 0;
    padding: 0;

    display: inline-block;

    > li {
      margin-right: .5em;
      padding: .25em .5em;
      background: $lightGray;
      color: $contentfulGray;
      display: inline-block;
      border-radius: .5em;
      letter-spacing: 1px;
      font-size: .85em;
    }
  }
}