.u-flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-marginTopAuto {
  margin-top: auto;
}

.u-noMarginBottom {
  margin-bottom: 0;
}

.u-marginLeftAuto {
  margin-left: auto;
}

.u-textAlignCenter {
  text-align: center;
}

.u-marginBottomLarge {
  margin-bottom: 2em;
}